@import "tailwindcss";

:root {
  --background: #0f140f;
  --foreground: #4F6F52;
  --secondary: #ECE3CE;
  --primary-accent: #739072;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--primary-accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
